@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-xHs4rY1aB5R__font-family: "Roboto", sans-serif;
  --mixin-xHs4rY1aB5R__font-size: 16px;
  --mixin-xHs4rY1aB5R__font-weight: 400;
  --mixin-xHs4rY1aB5R__font-style: normal;
  --mixin-xHs4rY1aB5R__color: #535353;
  --mixin-xHs4rY1aB5R__text-align: left;
  --mixin-xHs4rY1aB5R__text-transform: none;
  --mixin-xHs4rY1aB5R__line-height: 1.5;
  --mixin-xHs4rY1aB5R__letter-spacing: normal;
  --mixin-xHs4rY1aB5R__white-space: pre-wrap;
  --mixin-xHs4rY1aB5R__user-select: text;
  --mixin-xHs4rY1aB5R__text-decoration-line: none;
  --mixin-xHs4rY1aB5R__text-overflow: clip;
  --mixin-FsZYUFJULHyc_font-family: "Inter", sans-serif;
  --mixin-FsZYUFJULHyc_color: #000000;
  --mixin-FsZYUFJULHyc_font-size: 72px;
  --mixin-FsZYUFJULHyc_font-weight: 900;
  --mixin-FsZYUFJULHyc_letter-spacing: -4px;
  --mixin-FsZYUFJULHyc_line-height: 1;
  --mixin-FsZYUFJULHyc_white-space: pre-wrap;
  --mixin-6ohIZCSJD8Zj_font-family: "Inter", sans-serif;
  --mixin-6ohIZCSJD8Zj_color: #000000;
  --mixin-6ohIZCSJD8Zj_font-size: 48px;
  --mixin-6ohIZCSJD8Zj_font-weight: 700;
  --mixin-6ohIZCSJD8Zj_letter-spacing: -1px;
  --mixin-6ohIZCSJD8Zj_line-height: 1.1;
  --mixin-6ohIZCSJD8Zj_white-space: pre-wrap;
  --mixin-_YZFFJt6spDC_font-family: "Inter", sans-serif;
  --mixin-_YZFFJt6spDC_color: #000000;
  --mixin-_YZFFJt6spDC_font-size: 32px;
  --mixin-_YZFFJt6spDC_font-weight: 600;
  --mixin-_YZFFJt6spDC_letter-spacing: -0.8px;
  --mixin-_YZFFJt6spDC_line-height: 1.2;
  --mixin-_YZFFJt6spDC_white-space: pre-wrap;
  --mixin-QWLPrbXnEO6I_font-family: "Inter", sans-serif;
  --mixin-QWLPrbXnEO6I_color: #000000;
  --mixin-QWLPrbXnEO6I_font-size: 24px;
  --mixin-QWLPrbXnEO6I_font-weight: 600;
  --mixin-QWLPrbXnEO6I_letter-spacing: -0.5px;
  --mixin-QWLPrbXnEO6I_line-height: 1.3;
  --mixin-QWLPrbXnEO6I_white-space: pre-wrap;
  --mixin--yi6RxCqF7hx_font-family: "Inter", sans-serif;
  --mixin--yi6RxCqF7hx_color: #000000;
  --mixin--yi6RxCqF7hx_font-size: 20px;
  --mixin--yi6RxCqF7hx_font-weight: 600;
  --mixin--yi6RxCqF7hx_letter-spacing: -0.3px;
  --mixin--yi6RxCqF7hx_line-height: 1.5;
  --mixin--yi6RxCqF7hx_white-space: pre-wrap;
  --mixin-GIAWK385Jbnq_font-family: "Inter", sans-serif;
  --mixin-GIAWK385Jbnq_color: #000000;
  --mixin-GIAWK385Jbnq_font-size: 16px;
  --mixin-GIAWK385Jbnq_font-weight: 600;
  --mixin-GIAWK385Jbnq_line-height: 1.5;
  --mixin-GIAWK385Jbnq_white-space: pre-wrap;
  --mixin-hO-59LgPNyH-_color: #0070f3;
  --mixin-hO-59LgPNyH-_white-space: pre-wrap;
  --mixin-21kdzjh60hqb_color: #3291ff;
  --mixin-21kdzjh60hqb_white-space: pre-wrap;
  --mixin-GloXnPLC7oTe_border-left-color: #dddddd;
  --mixin-GloXnPLC7oTe_border-left-style: solid;
  --mixin-GloXnPLC7oTe_border-left-width: 3px;
  --mixin-GloXnPLC7oTe_color: #888888;
  --mixin-GloXnPLC7oTe_padding-left: 10px;
  --mixin-GloXnPLC7oTe_white-space: pre-wrap;
  --mixin-51reVB6TC0oM_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-51reVB6TC0oM_border-bottom-color: #dddddd;
  --mixin-51reVB6TC0oM_border-bottom-style: solid;
  --mixin-51reVB6TC0oM_border-bottom-width: 1px;
  --mixin-51reVB6TC0oM_border-left-color: #dddddd;
  --mixin-51reVB6TC0oM_border-left-style: solid;
  --mixin-51reVB6TC0oM_border-left-width: 1px;
  --mixin-51reVB6TC0oM_border-right-color: #dddddd;
  --mixin-51reVB6TC0oM_border-right-style: solid;
  --mixin-51reVB6TC0oM_border-right-width: 1px;
  --mixin-51reVB6TC0oM_border-top-color: #dddddd;
  --mixin-51reVB6TC0oM_border-top-style: solid;
  --mixin-51reVB6TC0oM_border-top-width: 1px;
  --mixin-51reVB6TC0oM_border-bottom-left-radius: 3px;
  --mixin-51reVB6TC0oM_border-bottom-right-radius: 3px;
  --mixin-51reVB6TC0oM_border-top-left-radius: 3px;
  --mixin-51reVB6TC0oM_border-top-right-radius: 3px;
  --mixin-51reVB6TC0oM_font-family: "Inconsolata";
  --mixin-51reVB6TC0oM_padding-bottom: 1px;
  --mixin-51reVB6TC0oM_padding-left: 4px;
  --mixin-51reVB6TC0oM_padding-right: 4px;
  --mixin-51reVB6TC0oM_padding-top: 1px;
  --mixin-51reVB6TC0oM_white-space: pre-wrap;
  --mixin-4pLRPhwhepWJ_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-4pLRPhwhepWJ_border-bottom-color: #dddddd;
  --mixin-4pLRPhwhepWJ_border-bottom-style: solid;
  --mixin-4pLRPhwhepWJ_border-bottom-width: 1px;
  --mixin-4pLRPhwhepWJ_border-left-color: #dddddd;
  --mixin-4pLRPhwhepWJ_border-left-style: solid;
  --mixin-4pLRPhwhepWJ_border-left-width: 1px;
  --mixin-4pLRPhwhepWJ_border-right-color: #dddddd;
  --mixin-4pLRPhwhepWJ_border-right-style: solid;
  --mixin-4pLRPhwhepWJ_border-right-width: 1px;
  --mixin-4pLRPhwhepWJ_border-top-color: #dddddd;
  --mixin-4pLRPhwhepWJ_border-top-style: solid;
  --mixin-4pLRPhwhepWJ_border-top-width: 1px;
  --mixin-4pLRPhwhepWJ_border-bottom-left-radius: 3px;
  --mixin-4pLRPhwhepWJ_border-bottom-right-radius: 3px;
  --mixin-4pLRPhwhepWJ_border-top-left-radius: 3px;
  --mixin-4pLRPhwhepWJ_border-top-right-radius: 3px;
  --mixin-4pLRPhwhepWJ_font-family: "Inconsolata";
  --mixin-4pLRPhwhepWJ_padding-bottom: 3px;
  --mixin-4pLRPhwhepWJ_padding-left: 6px;
  --mixin-4pLRPhwhepWJ_padding-right: 6px;
  --mixin-4pLRPhwhepWJ_padding-top: 3px;
  --mixin-4pLRPhwhepWJ_white-space: pre-wrap;
  --mixin-dOdPTtn08Mbh_display: flex;
  --mixin-dOdPTtn08Mbh_flex-direction: column;
  --mixin-dOdPTtn08Mbh_align-items: stretch;
  --mixin-dOdPTtn08Mbh_justify-content: flex-start;
  --mixin-dOdPTtn08Mbh_list-style-position: outside;
  --mixin-dOdPTtn08Mbh_padding-left: 40px;
  --mixin-dOdPTtn08Mbh_position: relative;
  --mixin-dOdPTtn08Mbh_list-style-type: decimal;
  --mixin-dOdPTtn08Mbh_white-space: pre-wrap;
  --mixin-FgUf8qsH_3QV_display: flex;
  --mixin-FgUf8qsH_3QV_flex-direction: column;
  --mixin-FgUf8qsH_3QV_align-items: stretch;
  --mixin-FgUf8qsH_3QV_justify-content: flex-start;
  --mixin-FgUf8qsH_3QV_list-style-position: outside;
  --mixin-FgUf8qsH_3QV_padding-left: 40px;
  --mixin-FgUf8qsH_3QV_position: relative;
  --mixin-FgUf8qsH_3QV_list-style-type: disc;
  --mixin-FgUf8qsH_3QV_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-xHs4rY1aB5R__font-family);
  font-size: var(--mixin-xHs4rY1aB5R__font-size);
  font-weight: var(--mixin-xHs4rY1aB5R__font-weight);
  font-style: var(--mixin-xHs4rY1aB5R__font-style);
  color: var(--mixin-xHs4rY1aB5R__color);
  text-align: var(--mixin-xHs4rY1aB5R__text-align);
  text-transform: var(--mixin-xHs4rY1aB5R__text-transform);
  line-height: var(--mixin-xHs4rY1aB5R__line-height);
  letter-spacing: var(--mixin-xHs4rY1aB5R__letter-spacing);
  white-space: var(--mixin-xHs4rY1aB5R__white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-FsZYUFJULHyc_font-family);
  color: var(--mixin-FsZYUFJULHyc_color);
  font-size: var(--mixin-FsZYUFJULHyc_font-size);
  font-weight: var(--mixin-FsZYUFJULHyc_font-weight);
  letter-spacing: var(--mixin-FsZYUFJULHyc_letter-spacing);
  line-height: var(--mixin-FsZYUFJULHyc_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-6ohIZCSJD8Zj_font-family);
  color: var(--mixin-6ohIZCSJD8Zj_color);
  font-size: var(--mixin-6ohIZCSJD8Zj_font-size);
  font-weight: var(--mixin-6ohIZCSJD8Zj_font-weight);
  letter-spacing: var(--mixin-6ohIZCSJD8Zj_letter-spacing);
  line-height: var(--mixin-6ohIZCSJD8Zj_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-_YZFFJt6spDC_font-family);
  color: var(--mixin-_YZFFJt6spDC_color);
  font-size: var(--mixin-_YZFFJt6spDC_font-size);
  font-weight: var(--mixin-_YZFFJt6spDC_font-weight);
  letter-spacing: var(--mixin-_YZFFJt6spDC_letter-spacing);
  line-height: var(--mixin-_YZFFJt6spDC_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-QWLPrbXnEO6I_font-family);
  color: var(--mixin-QWLPrbXnEO6I_color);
  font-size: var(--mixin-QWLPrbXnEO6I_font-size);
  font-weight: var(--mixin-QWLPrbXnEO6I_font-weight);
  letter-spacing: var(--mixin-QWLPrbXnEO6I_letter-spacing);
  line-height: var(--mixin-QWLPrbXnEO6I_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin--yi6RxCqF7hx_font-family);
  color: var(--mixin--yi6RxCqF7hx_color);
  font-size: var(--mixin--yi6RxCqF7hx_font-size);
  font-weight: var(--mixin--yi6RxCqF7hx_font-weight);
  letter-spacing: var(--mixin--yi6RxCqF7hx_letter-spacing);
  line-height: var(--mixin--yi6RxCqF7hx_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-GIAWK385Jbnq_font-family);
  color: var(--mixin-GIAWK385Jbnq_color);
  font-size: var(--mixin-GIAWK385Jbnq_font-size);
  font-weight: var(--mixin-GIAWK385Jbnq_font-weight);
  line-height: var(--mixin-GIAWK385Jbnq_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-hO-59LgPNyH-_color);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-21kdzjh60hqb_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-GloXnPLC7oTe_color);
  padding-left: var(--mixin-GloXnPLC7oTe_padding-left);
  border-left: var(--mixin-GloXnPLC7oTe_border-left-width)
    var(--mixin-GloXnPLC7oTe_border-left-style)
    var(--mixin-GloXnPLC7oTe_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-51reVB6TC0oM_font-family);
  border-radius: var(--mixin-51reVB6TC0oM_border-top-left-radius)
    var(--mixin-51reVB6TC0oM_border-top-right-radius)
    var(--mixin-51reVB6TC0oM_border-bottom-right-radius)
    var(--mixin-51reVB6TC0oM_border-bottom-left-radius);
  padding: var(--mixin-51reVB6TC0oM_padding-top)
    var(--mixin-51reVB6TC0oM_padding-right)
    var(--mixin-51reVB6TC0oM_padding-bottom)
    var(--mixin-51reVB6TC0oM_padding-left);
  border-top: var(--mixin-51reVB6TC0oM_border-top-width)
    var(--mixin-51reVB6TC0oM_border-top-style)
    var(--mixin-51reVB6TC0oM_border-top-color);
  border-right: var(--mixin-51reVB6TC0oM_border-right-width)
    var(--mixin-51reVB6TC0oM_border-right-style)
    var(--mixin-51reVB6TC0oM_border-right-color);
  border-bottom: var(--mixin-51reVB6TC0oM_border-bottom-width)
    var(--mixin-51reVB6TC0oM_border-bottom-style)
    var(--mixin-51reVB6TC0oM_border-bottom-color);
  border-left: var(--mixin-51reVB6TC0oM_border-left-width)
    var(--mixin-51reVB6TC0oM_border-left-style)
    var(--mixin-51reVB6TC0oM_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-4pLRPhwhepWJ_font-family);
  border-radius: var(--mixin-4pLRPhwhepWJ_border-top-left-radius)
    var(--mixin-4pLRPhwhepWJ_border-top-right-radius)
    var(--mixin-4pLRPhwhepWJ_border-bottom-right-radius)
    var(--mixin-4pLRPhwhepWJ_border-bottom-left-radius);
  padding: var(--mixin-4pLRPhwhepWJ_padding-top)
    var(--mixin-4pLRPhwhepWJ_padding-right)
    var(--mixin-4pLRPhwhepWJ_padding-bottom)
    var(--mixin-4pLRPhwhepWJ_padding-left);
  border-top: var(--mixin-4pLRPhwhepWJ_border-top-width)
    var(--mixin-4pLRPhwhepWJ_border-top-style)
    var(--mixin-4pLRPhwhepWJ_border-top-color);
  border-right: var(--mixin-4pLRPhwhepWJ_border-right-width)
    var(--mixin-4pLRPhwhepWJ_border-right-style)
    var(--mixin-4pLRPhwhepWJ_border-right-color);
  border-bottom: var(--mixin-4pLRPhwhepWJ_border-bottom-width)
    var(--mixin-4pLRPhwhepWJ_border-bottom-style)
    var(--mixin-4pLRPhwhepWJ_border-bottom-color);
  border-left: var(--mixin-4pLRPhwhepWJ_border-left-width)
    var(--mixin-4pLRPhwhepWJ_border-left-style)
    var(--mixin-4pLRPhwhepWJ_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-dOdPTtn08Mbh_display);
  flex-direction: var(--mixin-dOdPTtn08Mbh_flex-direction);
  align-items: var(--mixin-dOdPTtn08Mbh_align-items);
  justify-content: var(--mixin-dOdPTtn08Mbh_justify-content);
  list-style-position: var(--mixin-dOdPTtn08Mbh_list-style-position);
  padding-left: var(--mixin-dOdPTtn08Mbh_padding-left);
  position: var(--mixin-dOdPTtn08Mbh_position);
  list-style-type: var(--mixin-dOdPTtn08Mbh_list-style-type);
  flex-column-gap: var(--mixin-dOdPTtn08Mbh_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-FgUf8qsH_3QV_display);
  flex-direction: var(--mixin-FgUf8qsH_3QV_flex-direction);
  align-items: var(--mixin-FgUf8qsH_3QV_align-items);
  justify-content: var(--mixin-FgUf8qsH_3QV_justify-content);
  list-style-position: var(--mixin-FgUf8qsH_3QV_list-style-position);
  padding-left: var(--mixin-FgUf8qsH_3QV_padding-left);
  position: var(--mixin-FgUf8qsH_3QV_position);
  list-style-type: var(--mixin-FgUf8qsH_3QV_list-style-type);
  flex-column-gap: var(--mixin-FgUf8qsH_3QV_flex-column-gap);
}
